{{!------------------------------
To add a new social icon simply duplicate one of the list items from below
and change the class in the <i> tag to match the desired social network
and then add your link to the <a>. Here is a full list of social network
classes that you can use:
    icon-social-500px
    icon-social-behance
    icon-social-delicious
    icon-social-designer-news
    icon-social-deviant-art
    icon-social-digg
    icon-social-dribbble
    icon-social-facebook
    icon-social-flickr
    icon-social-forrst
    icon-social-foursquare
    icon-social-github
    icon-social-google-plus
    icon-social-hi5
    icon-social-instagram
    icon-social-lastfm
    icon-social-linkedin
    icon-social-medium
    icon-social-myspace
    icon-social-path
    icon-social-pinterest
    icon-social-rdio
    icon-social-reddit
    icon-social-skype
    icon-social-spotify
    icon-social-stack-overflow
    icon-social-steam
    icon-social-stumbleupon
    icon-social-treehouse
    icon-social-tumblr
    icon-social-twitter
    icon-social-vimeo
    icon-social-xbox
    icon-social-yelp
    icon-social-youtube
    icon-social-zerply
    icon-mail
--------------------------------}}


<nav class="cover-navigation navigation--social">
  <ul class="navigation">

   

   
    <!-- Twitter -->
    <li class="navigation__item">
      <a href="https://twitter.com/c01nd01r" title="Twitter account">
        <i class='icon icon-social-twitter'></i>
        <span class="label">Twitter</span>
      </a>
    </li>
   

 

    
    <!-- Github -->
    <li class="navigation__item">
      <a href="https://github.com/c01nd01r/" title="Github account">
        <i class='icon icon-social-github'></i>
        <span class="label">Github</span>
      </a>
    </li>
    </li>
    

    
    <li class="navigation__item">
      <a href="https://instagram.com/c01nd01r/" title="Instagram account">
        <i class='icon icon-social-instagram'></i>
        <span class="label">Instagram</span>
      </a>
    </li>
    </li>
    

    
    <li class="navigation__item">
      <a href="https://www.pinterest.com/c01nd01r/" title="Pinterest account">
        <i class='icon icon-social-pinterest'></i>
        <span class="label">Pinterest</span>
      </a>
    </li>
    </li>
   

    <!-- LinkedIn -->
    <li class="navigation__item">
      <a href="https://ru.linkedin.com/pub/stanislav-eremenko/70/810/b53" title="LinkedIn account">
        <i class='icon icon-social-linkedin'></i>
        <span class="label">LinkedIn</span>
      </a>
    </li>
    

    
    <!-- Email -->
    <li class="navigation__item">
      <a href="mailto:blog@c01nd01r.ru" title="Email blog@c01nd01r.ru">
        <i class='icon icon-mail'></i>
        <span class="label">Email</span>
      </a>
    </li>
  
    

  </ul>
</nav>
